In [ ]:
import numpy as np
import os
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
%matplotlib inline

In [39]:
my_data=pd.read_csv('/Users/farhankhan/Desktop/GitDemo/myProgram-demo/salary.csv')
my_data.head()

   Years of Experience  Salary
0                    0   45000
1                    1   48000
2                    2   52000
3                    3   57000
4                    4   62000