In [1]:
import pandas as pd
data=pd.read_csv('example.csv')
data.head()

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   22    Male
3    Diana   28  Female